{{> head}}
  {{> navbar}}

    <div class="row">
        <div class="col-8">
        <h1>JAVASCRIPT</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid expedita rem numquam.</p>
        </div>

        <div class="col-4">
            <img src="acces/img/img1.jpg" alt="Logo" class="img-thumbnail">
        </div>
    </div>

{{> footer}}