{{> head}}
  {{> navbar}}
         <div class="card" style="width: 18rem;">
        <img src="https://i0.wp.com/www.bitme.gg/wp-content/uploads/2020/02/%C2%BFAnimeFLV-tendra-nueva-plataforma-oficial-de-streaming_.jpg?resize=1280%2C720&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hola {{ capitalizar nombre}}</h5> 
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

{{> footer}}
